{% extends 'manutencao_app/base.html' %}

{% block titulo %}Nova Escada{% endblock %}

{% block conteudo %}

<div class="topo">
    <h1>🔧 Nova Escada</h1>
    <p>Cadastre uma nova manutenção</p>
</div>

<div class="form-container">
    <div class="card-form">
        <h2>Cadastrar Escada</h2>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="campo">
                    {{ field.label }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            {{ form.non_field_errors }}

            <button type="submit" class="botao">Salvar</button>
        </form>

        <a href="{% url 'home' %}" class="voltar">← Voltar</a>
    </div>
</div>

{% endblock %}